In [9]:
# load packages


import pandas as pd
import numpy as np

In [10]:
# the data


# load in ATP data 1997 to 2021
atp_1997 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_1997.csv", engine="python", encoding="utf8")
atp_1998 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_1998.csv", engine="python", encoding="utf8")
atp_1999 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_1999.csv", engine="python", encoding="utf8")
atp_2000 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2000.csv", engine="python", encoding="utf8")
atp_2001 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2001.csv", engine="python", encoding="utf8")
atp_2002 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2002.csv", engine="python", encoding="utf8")
atp_2003 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2003.csv", engine="python", encoding="utf8")
atp_2004 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2004.csv", engine="python", encoding="utf8")
atp_2005 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2005.csv", engine="python", encoding="utf8")
atp_2006 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2006.csv", engine="python", encoding="utf8")
atp_2007 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2007.csv", engine="python", encoding="utf8")
atp_2008 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2008.csv", engine="python", encoding="utf8")
atp_2009 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2009.csv", engine="python", encoding="utf8")
atp_2010 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2010.csv", engine="python", encoding="utf8")
atp_2011 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2011.csv", engine="python", encoding="utf8")
atp_2012 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2012.csv", engine="python", encoding="utf8")
atp_2013 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2013.csv", engine="python", encoding="utf8")
atp_2014 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2014.csv", engine="python", encoding="utf8")
atp_2015 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2015.csv", engine="python", encoding="utf8")
atp_2016 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2016.csv", engine="python", encoding="utf8")
atp_2017 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2017.csv", engine="python", encoding="utf8")
atp_2018 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2018.csv", engine="python", encoding="utf8")
atp_2019 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2019.csv", engine="python", encoding="utf8")
atp_2020 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2020.csv", engine="python", encoding="utf8")
atp_2021 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2021.csv", engine="python", encoding="utf8")

# append these datasets together
atp = pd.concat([
    atp_1997,atp_1998,atp_1999,atp_2000,atp_2001,atp_2002,atp_2003,atp_2004,atp_2005,
    atp_2006,atp_2007,atp_2008,atp_2009,atp_2010,atp_2011,atp_2012,atp_2013,atp_2014,
    atp_2015,atp_2016,atp_2017,atp_2018,atp_2019,atp_2020,atp_2021
])

# return the head of the dataframe
atp.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,1997-339,Adelaide,Hard,32,A,19961230,1,102025,NaN,NaN,...,18.0,7.0,18.0,8.0,5.0,9.0,47.0,875.0,3.0,3564.0
1,1997-339,Adelaide,Hard,32,A,19961230,2,101647,NaN,NaN,...,25.0,21.0,9.0,9.0,1.0,3.0,44.0,886.0,73.0,636.0
2,1997-339,Adelaide,Hard,32,A,19961230,3,102158,NaN,NaN,...,36.0,25.0,13.0,9.0,5.0,7.0,62.0,741.0,202.0,194.0
3,1997-339,Adelaide,Hard,32,A,19961230,4,101772,NaN,WC,...,51.0,40.0,17.0,15.0,6.0,10.0,133.0,339.0,40.0,993.0
4,1997-339,Adelaide,Hard,32,A,19961230,5,101889,4.0,NaN,...,41.0,31.0,22.0,14.0,2.0,5.0,36.0,1039.0,71.0,661.0

In [11]:
# data cleaning


# remove matches that were not played to completion (and matches with scoring errors)
atp = atp[~atp.score.str.contains('|'.join("RET"))]
atp = atp[~atp.score.str.contains('|'.join("Default"))]
atp = atp[~atp.score.str.contains('|'.join("Apr"))]
atp = atp[~atp.score.str.contains('|'.join("W/O"))]
atp = atp[~atp.score.str.contains('|'.join("[10]"))]
atp.drop(atp[atp['score'] == 'W/O'].index, inplace = True)

# remove tiebreak games
atp['score'] = atp['score'].str.replace('\(.\)', '', regex=True)

# separate scores into winner's and loser's games won by set
atp['winner_score'] = atp['score'].apply(lambda x: x.replace('-', ' ').split()[::2])
atp['loser_score'] = atp['score'].apply(lambda x: x.replace('-', ' ').split()[1::2])

# convert to integer type
atp['winner_score'] = atp['winner_score'].apply(lambda x: list(map(int, x)))
atp['loser_score'] = atp['loser_score'].apply(lambda x: list(map(int, x)))

# create total games won column
atp['winner_games_won'] = atp['winner_score'].apply(lambda x: sum(x))
atp['loser_games_won'] = atp['loser_score'].apply(lambda x: sum(x))

# helper function to calculate sets columns
def findSetsWon(player_sets, opposition_sets):
    sets = 0
    for i in range(len(player_sets)):
        if player_sets[i] > opposition_sets[i]:
            sets += 1
    return sets
# create total sets won column
atp['winner_sets_won'] = atp.apply(lambda x: findSetsWon(x.winner_score, x.loser_score), axis=1)
atp['loser_sets_won'] = atp.apply(lambda x: findSetsWon(x.loser_score, x.winner_score), axis=1)

# create total fantasy points scored column and filter outliers
atp['winner_fantasy_pts'] = 10 + atp['winner_games_won'] - atp['loser_games_won'] + (3 * atp['winner_sets_won']) - (3 * atp['loser_sets_won']) + (0.5 * atp['w_ace']) - (0.5 * atp['w_df'])
atp['loser_fantasy_pts'] = 10 + atp['loser_games_won'] - atp['winner_games_won'] + (3 * atp['loser_sets_won']) - (3 * atp['winner_sets_won']) + (0.5 * atp['l_ace']) - (0.5 * atp['l_df'])
atp = atp[atp['winner_fantasy_pts'] < 50]

# indicator variable for grand slams
atp['grand_slam'] = 0
atp.loc[(atp['tourney_name'] == 'US Open') | (atp['tourney_name'] == 'Wimbledon') | (atp['tourney_name'] == 'Australian Open') | (atp['tourney_name'] == 'Roland Garros'), 'grand_slam'] = 1

# return the head of the dataframe
atp[atp['tourney_name'] == 'US Open']

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,loser_rank_points,winner_score,loser_score,winner_games_won,loser_games_won,winner_sets_won,loser_sets_won,winner_fantasy_pts,loser_fantasy_pts,grand_slam
2774,1997-560,US Open,Hard,128,G,19970825,2,101133,NaN,Q,...,291.0,"[4, 3, 6, 6, 6]","[6, 6, 4, 3, 3]",25,22,3,2,21.5,-2.5,1
2775,1997-560,US Open,Hard,128,G,19970825,3,101735,NaN,NaN,...,72.0,"[6, 6, 6, 6]","[2, 2, 7, 3]",24,14,3,1,37.5,-10.5,1
2778,1997-560,US Open,Hard,128,G,19970825,6,210013,NaN,NaN,...,176.0,"[6, 6, 6, 6]","[3, 4, 7, 4]",24,18,3,1,22.5,-1.5,1
2781,1997-560,US Open,Hard,128,G,19970825,9,102856,9.0,NaN,...,325.0,"[6, 3, 6, 6, 6]","[4, 6, 7, 2, 3]",27,22,3,2,25.0,1.5,1
2782,1997-560,US Open,Hard,128,G,19970825,10,102854,NaN,NaN,...,346.0,"[6, 6, 6]","[4, 3, 4]",18,11,3,0,26.0,-6.5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2173,2019-560,US Open,Hard,128,G,20190826,221,105777,NaN,NaN,...,6950.0,"[3, 6, 3, 6, 6]","[6, 4, 6, 4, 2]",24,22,3,2,14.5,7.5,1
2174,2019-560,US Open,Hard,128,G,20190826,222,126610,24.0,NaN,...,2140.0,"[3, 6, 6, 3, 7]","[6, 3, 2, 6, 6]",25,23,3,2,19.5,1.5,1
2175,2019-560,US Open,Hard,128,G,20190826,223,104745,2.0,NaN,...,1725.0,"[6, 7, 6]","[4, 5, 2]",19,11,3,0,29.0,-6.5,1
2176,2019-560,US Open,Hard,128,G,20190826,224,106421,5.0,NaN,...,722.0,"[7, 6, 6]","[6, 4, 3]",19,13,3,0,26.0,-5.0,1
2178,2019-560,US Open,Hard,128,G,20190826,226,104745,2.0,NaN,...,4125.0,"[7, 6, 5, 4, 6]","[5, 3, 7, 6, 4]",28,25,3,2,16.0,9.0,1

In [12]:
# restructuring dataframe


# changing dataframe format from winner-loser to player-opponent

# create dataframe with winners as players, losers as opponents
winners_df = atp[[
    'tourney_id', 'tourney_name', 'grand_slam', 'surface', 'draw_size', 'tourney_level', 'tourney_date', 'match_num', 'best_of', 'round', 'minutes', # tourney info
    'score', 'winner_score', 'loser_score', 'winner_games_won', 'loser_games_won', 'winner_sets_won', 'loser_sets_won', 'winner_fantasy_pts', 'loser_fantasy_pts', # score data
    'winner_id', 'winner_seed', 'winner_entry', 'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age', 'winner_rank', 'winner_rank_points', # player metadata
    'loser_id', 'loser_seed', 'loser_entry', 'loser_name', 'loser_hand', 'loser_ht', 'loser_ioc', 'loser_age', 'loser_rank', 'loser_rank_points', # opponent metadata
    'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon', 'w_SvGms', 'w_bpSaved', 'w_bpFaced', # player stats
    'l_ace', 'l_df', 'l_svpt', 'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced', # opponent stats
]]
winners_df = winners_df.rename(columns={
    'winner_score': 'player_score', 'loser_score': 'opp_score', 'winner_games_won': 'games_won', 'loser_games_won': 'opp_games_won', 'winner_sets_won': 'sets_won', 'loser_sets_won': 'opp_sets_won', 'winner_fantasy_pts': 'fantasy_pts', 'loser_fantasy_pts': 'opp_fantasy_pts', # score data
    'winner_id': 'id', 'winner_seed': 'seed', 'winner_entry': 'entry', 'winner_name': 'name', 'winner_hand': 'hand', 'winner_ht': 'ht', 'winner_ioc': 'ioc', 'winner_age': 'age', 'winner_rank': 'rank', 'winner_rank_points': 'rank_points', # player metadata
    'loser_id': 'opp_id', 'loser_seed': 'opp_seed', 'loser_entry': 'opp_entry', 'loser_name': 'opp_name', 'loser_hand': 'opp_hand', 'loser_ht': 'opp_ht', 'loser_ioc': 'opp_ioc', 'loser_age': 'opp_age', 'loser_rank': 'opp_rank', 'loser_rank_points': 'opp_rank_points', # opponent metadata
    'w_ace': 'ace', 'w_df': 'df', 'w_svpt': 'svpt', 'w_1stIn': 'FirstIn', 'w_1stWon': 'FirstWon', 'w_2ndWon': 'SecondWon', 'w_SvGms': 'SvGms', 'w_bpSaved': 'bpSaved', 'w_bpFaced' : 'bpFaced', # player stats
    'l_ace': 'opp_ace', 'l_df': 'opp_df', 'l_svpt': 'opp_svpt', 'l_1stIn': 'opp_FirstIn', 'l_1stWon': 'opp_FirstWon', 'l_2ndWon': 'opp_SecondWon', 'l_SvGms': 'opp_SvGms', 'l_bpSaved': 'opp_bpSaved', 'l_bpFaced': 'opp_bpFaced' # opponent stats 
})

# create dataframe with losers as players, winners as opponents
losers_df = atp[[
    'tourney_id', 'tourney_name', 'grand_slam', 'surface', 'draw_size', 'tourney_level', 'tourney_date', 'match_num', 'best_of', 'round', 'minutes', # tourney info
    'score', 'loser_score', 'winner_score', 'loser_games_won', 'winner_games_won', 'loser_sets_won', 'winner_sets_won', 'loser_fantasy_pts', 'winner_fantasy_pts', # score data
    'loser_id', 'loser_seed', 'loser_entry', 'loser_name', 'loser_hand', 'loser_ht', 'loser_ioc', 'loser_age', 'loser_rank', 'loser_rank_points', # player metadata
    'winner_id', 'winner_seed', 'winner_entry', 'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age', 'winner_rank', 'winner_rank_points', # opponent metadata
    'l_ace', 'l_df', 'l_svpt', 'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced', # player stats
    'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon', 'w_SvGms', 'w_bpSaved', 'w_bpFaced', # opponent stats
]]
losers_df = losers_df.rename(columns={
    'loser_score': 'player_score', 'winner_score': 'opp_score', 'loser_games_won': 'games_won', 'winner_games_won': 'opp_games_won', 'loser_sets_won': 'sets_won', 'winner_sets_won': 'opp_sets_won', 'loser_fantasy_pts': 'fantasy_pts', 'winner_fantasy_pts': 'opp_fantasy_pts', # score data
    'loser_id': 'id', 'loser_seed': 'seed', 'loser_entry': 'entry', 'loser_name': 'name', 'loser_hand': 'hand', 'loser_ht': 'ht', 'loser_ioc': 'ioc', 'loser_age': 'age', 'loser_rank': 'rank', 'loser_rank_points': 'rank_points', # player metadata
    'winner_id': 'opp_id', 'winner_seed': 'opp_seed', 'winner_entry': 'opp_entry', 'winner_name': 'opp_name', 'winner_hand': 'opp_hand', 'winner_ht': 'opp_ht', 'winner_ioc': 'opp_ioc', 'winner_age': 'opp_age', 'winner_rank': 'opp_rank', 'winner_rank_points': 'opp_rank_points', # opponent metadata
    'l_ace': 'ace', 'l_df': 'df', 'l_svpt': 'svpt', 'l_1stIn': 'FirstIn', 'l_1stWon': 'FirstWon', 'l_2ndWon': 'SecondWon', 'l_SvGms': 'SvGms', 'l_bpSaved': 'bpSaved', 'l_bpFaced' : 'bpFaced', # player stats
    'w_ace': 'opp_ace', 'w_df': 'opp_df', 'w_svpt': 'opp_svpt', 'w_1stIn': 'opp_FirstIn', 'w_1stWon': 'opp_FirstWon', 'w_2ndWon': 'opp_SecondWon', 'w_SvGms': 'opp_SvGms', 'w_bpSaved': 'opp_bpSaved', 'w_bpFaced': 'opp_bpFaced' # opponent stats 
})

# join the two dataframes together
full_df = pd.concat([winners_df, losers_df])
full_df = full_df.reset_index()
full_df.head()

,index,tourney_id,tourney_name,grand_slam,surface,draw_size,tourney_level,tourney_date,match_num,best_of,...,bpFaced,opp_ace,opp_df,opp_svpt,opp_FirstIn,opp_FirstWon,opp_SecondWon,opp_SvGms,opp_bpSaved,opp_bpFaced
0,0,1997-339,Adelaide,0,Hard,32,A,19961230,1,3,...,2.0,1.0,2.0,47.0,18.0,7.0,18.0,8.0,5.0,9.0
1,1,1997-339,Adelaide,0,Hard,32,A,19961230,2,3,...,1.0,10.0,3.0,46.0,25.0,21.0,9.0,9.0,1.0,3.0
2,2,1997-339,Adelaide,0,Hard,32,A,19961230,3,3,...,1.0,1.0,2.0,64.0,36.0,25.0,13.0,9.0,5.0,7.0
3,3,1997-339,Adelaide,0,Hard,32,A,19961230,4,3,...,10.0,3.0,3.0,97.0,51.0,40.0,17.0,15.0,6.0,10.0
4,4,1997-339,Adelaide,0,Hard,32,A,19961230,5,3,...,5.0,7.0,4.0,85.0,41.0,31.0,22.0,14.0,2.0,5.0

In [13]:
# historical averages


# create new columns for averages
full_df['avg_fantasy_pts'] = None
full_df['avg_ace'] = None
full_df['avg_df'] = None
full_df['avg_svpt'] = None
full_df['avg_FirstIn'] = None
full_df['avg_FirstWon'] = None
full_df['avg_SecondWon'] = None
full_df['avg_SvGms'] = None
full_df['avg_bpSaved'] = None
full_df['avg_bpFaced'] = None

# for every unique person, get the dataframe of just their games (named temp_df)
for i in range(len(pd.unique(full_df['id']))):
    temp_player = pd.unique(full_df['id'])[i].copy()
    temp_df = full_df[full_df['id'] == temp_player]
    
    # for every game in this dataframe, create a list for the averages  
    avg_fantasy_pts = []
    avg_ace = []
    avg_df = []
    avg_svpt = []
    avg_FirstIn = []
    avg_FirstWon = []
    avg_SecondWon = []
    avg_SvGms = []
    avg_bpSaved = []
    avg_bpFaced = []
    
    # calculate the averages
    for j in range(len(temp_df)):
        avg_fantasy_pts.append(np.mean(temp_df['fantasy_pts'][0:j]))
        avg_ace.append(np.mean(temp_df['ace'][0:j]))
        avg_df.append(np.mean(temp_df['df'][0:j]))
        avg_svpt.append(np.mean(temp_df['svpt'][0:j]))
        avg_FirstIn.append(np.mean(temp_df['FirstIn'][0:j]))
        avg_FirstWon.append(np.mean(temp_df['FirstWon'][0:j]))
        avg_SecondWon.append(np.mean(temp_df['SecondWon'][0:j]))
        avg_SvGms.append(np.mean(temp_df['SvGms'][0:j]))
        avg_bpSaved.append(np.mean(temp_df['bpSaved'][0:j]))
        avg_bpFaced.append(np.mean(temp_df['bpFaced'][0:j]))
        
    # append these averages to the existing dataframe 
    full_df.loc[full_df['id'] == temp_player, 'avg_fantasy_pts'] = avg_fantasy_pts
    full_df.loc[full_df['id'] == temp_player, 'avg_ace'] = avg_ace
    full_df.loc[full_df['id'] == temp_player, 'avg_df'] = avg_df
    full_df.loc[full_df['id'] == temp_player, 'avg_svpt'] = avg_svpt
    full_df.loc[full_df['id'] == temp_player, 'avg_FirstIn'] = avg_FirstIn
    full_df.loc[full_df['id'] == temp_player, 'avg_FirstWon'] = avg_FirstWon
    full_df.loc[full_df['id'] == temp_player, 'avg_SecondWon'] = avg_SecondWon
    full_df.loc[full_df['id'] == temp_player, 'avg_SvGms'] = avg_SvGms
    full_df.loc[full_df['id'] == temp_player, 'avg_bpSaved'] = avg_bpSaved
    full_df.loc[full_df['id'] == temp_player, 'avg_bpFaced'] = avg_bpFaced

In [14]:
# head to head averages


# column for h2h fantasy pts
full_df['h2h_fantasy_pts'] = None

# for every unique person, get the dataframe of just their games (named temp_df)
for i in range(len(full_df.loc[:, ['id', 'opp_id']].drop_duplicates().values)):
    temp_player = full_df.loc[:, ['id', 'opp_id']].drop_duplicates().values[i][0]
    temp_opponent = full_df.loc[:, ['id', 'opp_id']].drop_duplicates().values[i][1]
    temp_df = full_df[(full_df['id'] == temp_player) & (full_df['opp_id'] == temp_opponent)]

    # for every game in this dataframe, create a list for the averages  
    h2h_fantasy_pts = []
    
    for j in range(len(temp_df)):
        h2h_fantasy_pts.append(np.mean(temp_df['fantasy_pts'][0:j]))
        
    # append these averages to the existing dataframe 
    full_df.loc[(full_df['id'] == temp_player) & (full_df['opp_id'] == temp_opponent), 'h2h_fantasy_pts'] = h2h_fantasy_pts

In [18]:
# assigning NA values


# assigning a seed value to unseeded / unranked players
full_df.loc[full_df['seed'].isna(), 'seed'] = 50
full_df.loc[full_df['opp_seed'].isna(), 'opp_seed'] = 50
full_df.loc[full_df['rank_points'].isna(), 'rank_points'] = 0
full_df.loc[full_df['opp_rank_points'].isna(), 'opp_rank_points'] = 0

# assigning averages for player metadata
full_df.loc[full_df['ht'].isna(), 'ht'] = full_df['ht'].mean()
full_df.loc[full_df['opp_ht'].isna(), 'opp_ht'] = full_df['opp_ht'].mean()
full_df.loc[full_df['hand'].isna(), 'hand'] = 'R'
full_df.loc[full_df['hand'].isna(), 'hand'] = 'R'

# assigning values for Nan h2h averages
full_df.loc[full_df['h2h_fantasy_pts'].isna(), 'h2h_fantasy_pts'] = full_df.loc[full_df['h2h_fantasy_pts'].isna(), 'avg_fantasy_pts']

# assigning values for NaN stat averages (first-time players)
# assigns the averages for each stat across all first-time players
full_df.loc[full_df['avg_fantasy_pts'].isna(), 'avg_fantasy_pts'] = full_df[full_df['avg_fantasy_pts'].isna()]['fantasy_pts'].median()
full_df.loc[full_df['avg_ace'].isna(), 'avg_ace'] = full_df[full_df['avg_ace'].isna()]['ace'].median()
full_df.loc[full_df['avg_df'].isna(), 'avg_df'] = full_df[full_df['avg_df'].isna()]['df'].median()
full_df.loc[full_df['avg_svpt'].isna(), 'avg_svpt'] = full_df[full_df['avg_svpt'].isna()]['svpt'].median()
full_df.loc[full_df['avg_FirstIn'].isna(), 'avg_FirstIn'] = full_df[full_df['avg_FirstIn'].isna()]['FirstIn'].median()
full_df.loc[full_df['avg_FirstWon'].isna(), 'avg_FirstWon'] = full_df[full_df['avg_FirstWon'].isna()]['FirstWon'].median()
full_df.loc[full_df['avg_SecondWon'].isna(), 'avg_SecondWon'] = full_df[full_df['avg_SecondWon'].isna()]['SecondWon'].median()
full_df.loc[full_df['avg_SvGms'].isna(), 'avg_SvGms'] = full_df[full_df['avg_SvGms'].isna()]['SvGms'].median()
full_df.loc[full_df['avg_bpSaved'].isna(), 'avg_bpSaved'] = full_df[full_df['avg_bpSaved'].isna()]['bpSaved'].median()
full_df.loc[full_df['avg_bpFaced'].isna(), 'avg_bpFaced'] = full_df[full_df['avg_bpFaced'].isna()]['bpFaced'].median()



full_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92756 entries, 0 to 92755
Data columns (total 74 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             92756 non-null  int64
 1   tourney_id        92756 non-null  object
 2   tourney_name      92756 non-null  object
 3   grand_slam        92756 non-null  int64
 4   surface           92756 non-null  object
 5   draw_size         92756 non-null  int64
 6   tourney_level     92756 non-null  object
 7   tourney_date      92756 non-null  int64
 8   match_num         92756 non-null  int64
 9   best_of           92756 non-null  int64
 10  round             92756 non-null  object
 11  minutes           90728 non-null  float64
 12  score             92756 non-null  object
 13  player_score      92756 non-null  object
 14  opp_score         92756 non-null  object
 15  games_won         92756 non-null  int64
 16  opp_games_won     92756 non-null  int64
 17  sets_won          92756 non-null  int64
 18  opp_sets_won      92756 non-null  int64
 19  fantasy_pts       92756 non-null  float64
 20  opp_fantasy_pts   92756 non-null  float64
 21  id                92756 non-null  int64
 22  seed              92756 non-null  float64
 23  entry             16564 non-null  object
 24  name              92756 non-null  object
 25  hand              92756 non-null  object
 26  ht                92756 non-null  float64
 27  ioc               92756 non-null  object
 28  age               92756 non-null  float64
 29  rank              92572 non-null  float64
 30  rank_points       92756 non-null  float64
 31  opp_id            92756 non-null  int64
 32  opp_seed          92756 non-null  float64
 33  opp_entry         16564 non-null  object
 34  opp_name          92756 non-null  object
 35  opp_hand          92744 non-null  object
 36  opp_ht            92756 non-null  float64
 37  opp_ioc           92756 non-null  object
 38  opp_age           92756 non-null  float64
 39  opp_rank          92572 non-null  float64
 40  opp_rank_points   92756 non-null  float64
 41  ace               92756 non-null  float64
 42  df                92756 non-null  float64
 43  svpt              92756 non-null  float64
 44  FirstIn           92756 non-null  float64
 45  FirstWon          92756 non-null  float64
 46  SecondWon         92756 non-null  float64
 47  SvGms             92756 non-null  float64
 48  bpSaved           92756 non-null  float64
 49  bpFaced           92756 non-null  float64
 50  opp_ace           92756 non-null  float64
 51  opp_df            92756 non-null  float64
 52  opp_svpt          92756 non-null  float64
 53  opp_FirstIn       92756 non-null  float64
 54  opp_FirstWon      92756 non-null  float64
 55  opp_SecondWon     92756 non-null  float64
 56  opp_SvGms         92756 non-null  float64
 57  opp_bpSaved       92756 non-null  float64
 58  opp_bpFaced       92756 non-null  float64
 59  avg_fantasy_pts   92756 non-null  object
 60  avg_ace           92756 non-null  object
 61  avg_df            92756 non-null  object
 62  avg_svpt          92756 non-null  object
 63  avg_FirstIn       92756 non-null  object
 64  avg_FirstWon      92756 non-null  object
 65  avg_SecondWon     92756 non-null  object
 66  avg_SvGms         92756 non-null  object
 67  avg_bpSaved       92756 non-null  object
 68  avg_bpFaced       92756 non-null  object
 69  h2h_fantasy_pts   92756 non-null  object
 70  binned_age        92756 non-null  category
 71  binned_opp_age    92756 non-null  category
 72  rank_points_diff  92756 non-null  float64
 73  seed_diff         92756 non-null  float64
dtypes: category(2), float64(33), int64(12), object(27)
memory usage: 51.1+ MB

In [21]:
# condensing / removing unnecessary columns

full_df.loc[:, 'rank_points_diff'] = full_df['rank_points'] - full_df['opp_rank_points']
full_df.loc[:, 'seed_diff'] = full_df['seed'] - full_df['opp_seed']

model_df = full_df[[
       'best_of', 'grand_slam', 'surface', # tourney info
       'seed_diff', 'rank_points_diff', 'age', 'opp_age', # player info
       'avg_fantasy_pts', 'avg_ace', 'avg_df', 'avg_svpt', 'avg_FirstIn', 'avg_FirstWon', 'avg_SecondWon', 'avg_SvGms', 'avg_bpSaved', 'avg_bpFaced', # stat avgs
       'h2h_fantasy_pts', # h2h avgs
       'fantasy_pts']] # response variable

model_df.head()

,best_of,grand_slam,surface,seed_diff,rank_points_diff,age,opp_age,avg_fantasy_pts,avg_ace,avg_df,avg_svpt,avg_FirstIn,avg_FirstWon,avg_SecondWon,avg_SvGms,avg_bpSaved,avg_bpFaced,h2h_fantasy_pts,fantasy_pts
0,3,0,Hard,49.0,-2689.0,24.8,22.8,19,4,3,75,45,32,15,11,4,6,19,25.0
1,3,0,Hard,0.0,250.0,27.2,23.7,19,4,3,75,45,32,15,11,4,6,19,21.5
2,3,0,Hard,0.0,547.0,24.0,23.2,19,4,3,75,45,32,15,11,4,6,19,22.0
3,3,0,Hard,43.0,-654.0,26.4,26.6,19,4,3,75,45,32,15,11,4,6,19,15.0
4,3,0,Hard,-46.0,378.0,25.7,25.7,19,4,3,75,45,32,15,11,4,6,19,14.5

In [22]:
model_df.to_csv(r'cleaned_atp_data.csv')