In [334]:
# import data
import pandas as pd
pd.set_option('display.max_columns', 500)
import requests
from datetime import datetime # used to change from ISO 8601 to a more readable format

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

In [220]:
# use helper function from the API documentation (link below) to return data
# https://github.com/PrizePicks-Analytics/PrizePicks-API
def call_endpoint(url, max_level=3, include_new_player_attributes=False):
    '''
    takes: 
        - url (str): the API endpoint to call
        - max_level (int): level of json normalizing to apply
        - include_player_attributes (bool): whether to include player object attributes in the returned dataframe
    returns:
        - df (pd.DataFrame): a dataframe of the call response content
    '''
    resp = requests.get(url).json()
    data = pd.json_normalize(resp['data'], max_level=max_level)
    included = pd.json_normalize(resp['included'], max_level=max_level)
    if include_new_player_attributes:
        inc_cop = included[included['type'] == 'new_player'].copy().dropna(axis=1)
        data = pd.merge(data
                        , inc_cop
                        , how='left'
                        , left_on=['relationships.new_player.data.id'
                                   ,'relationships.new_player.data.type']
                        , right_on=['id', 'type']
                        , suffixes=('', '_new_player'))
    return data

In [227]:
# create dataframe using the helper function
url = 'https://partner-api.prizepicks.com/projections?per_page=100'
df = call_endpoint(url, include_new_player_attributes=True)
lines = df[['attributes.league', 'attributes.team', 'attributes.name', 'attributes.stat_type', 'attributes.line_score', 'attributes.start_time']]
lines = lines.rename(columns={"attributes.line_score": "Projected Score",
                   "attributes.start_time": "Start Time",
                   'attributes.stat_type': "Stat Type",
                   'attributes.name': "Player Name",
                   'attributes.team': "Team Name",
                   'attributes.league': "League"
                  })

# formatting start time
lines['Start Date'] = ""
for i in range(len(lines['Start Time'])):
    temp_date = datetime.fromisoformat(lines['Start Time'][i])
    lines['Start Date'][i] = temp_date.date()
    lines['Start Time'][i] = temp_date.hour
    
    
# filter to only include tennis
lines = lines[lines['League'] == 'TENNIS']

# show dataframe
lines.head()
# lines.to_csv(r'June 26 Tennis.csv')

In [222]:
# load in ATP data 1997 to 2021
atp_1997 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_1997.csv", engine="python", encoding="utf8")
atp_1998 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_1998.csv", engine="python", encoding="utf8")
atp_1999 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_1999.csv", engine="python", encoding="utf8")
atp_2000 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2000.csv", engine="python", encoding="utf8")
atp_2001 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2001.csv", engine="python", encoding="utf8")
atp_2002 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2002.csv", engine="python", encoding="utf8")
atp_2003 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2003.csv", engine="python", encoding="utf8")
atp_2004 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2004.csv", engine="python", encoding="utf8")
atp_2005 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2005.csv", engine="python", encoding="utf8")
atp_2006 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2006.csv", engine="python", encoding="utf8")
atp_2007 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2007.csv", engine="python", encoding="utf8")
atp_2008 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2008.csv", engine="python", encoding="utf8")
atp_2009 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2009.csv", engine="python", encoding="utf8")
atp_2010 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2010.csv", engine="python", encoding="utf8")
atp_2011 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2011.csv", engine="python", encoding="utf8")
atp_2012 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2012.csv", engine="python", encoding="utf8")
atp_2013 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2013.csv", engine="python", encoding="utf8")
atp_2014 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2014.csv", engine="python", encoding="utf8")
atp_2015 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2015.csv", engine="python", encoding="utf8")
atp_2016 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2016.csv", engine="python", encoding="utf8")
atp_2017 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2017.csv", engine="python", encoding="utf8")
atp_2018 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2018.csv", engine="python", encoding="utf8")
atp_2019 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2019.csv", engine="python", encoding="utf8")
atp_2020 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2020.csv", engine="python", encoding="utf8")
atp_2021 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2021.csv", engine="python", encoding="utf8")

# append these datasets together
atp = pd.concat([
    atp_1997,atp_1998,atp_1999,atp_2000,atp_2001,atp_2002,atp_2003,atp_2004,atp_2005,
    atp_2006,atp_2007,atp_2008,atp_2009,atp_2010,atp_2011,atp_2012,atp_2013,atp_2014,
    atp_2015,atp_2016,atp_2017,atp_2018,atp_2019,atp_2020,atp_2021
])

In [223]:
atp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76442 entries, 0 to 2726
Data columns (total 49 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tourney_id          76442 non-null  object
 1   tourney_name        76442 non-null  object
 2   surface             76442 non-null  object
 3   draw_size           76442 non-null  int64
 4   tourney_level       76442 non-null  object
 5   tourney_date        76442 non-null  int64
 6   match_num           76442 non-null  int64
 7   winner_id           76442 non-null  int64
 8   winner_seed         31218 non-null  float64
 9   winner_entry        9419 non-null   object
 10  winner_name         76442 non-null  object
 11  winner_hand         76433 non-null  object
 12  winner_ht           73514 non-null  float64
 13  winner_ioc          76442 non-null  object
 14  winner_age          76438 non-null  float64
 15  loser_id            76442 non-null  int64
 16  loser_seed          17164 non-null  float64
 17  loser_entry         15387 non-null  object
 18  loser_name          76442 non-null  object
 19  loser_hand          76401 non-null  object
 20  loser_ht            70736 non-null  float64
 21  loser_ioc           76442 non-null  object
 22  loser_age           76432 non-null  float64
 23  score               76442 non-null  object
 24  best_of             76442 non-null  int64
 25  round               76442 non-null  object
 26  minutes             67754 non-null  float64
 27  w_ace               69203 non-null  float64
 28  w_df                69203 non-null  float64
 29  w_svpt              69203 non-null  float64
 30  w_1stIn             69203 non-null  float64
 31  w_1stWon            69203 non-null  float64
 32  w_2ndWon            69203 non-null  float64
 33  w_SvGms             69204 non-null  float64
 34  w_bpSaved           69203 non-null  float64
 35  w_bpFaced           69203 non-null  float64
 36  l_ace               69203 non-null  float64
 37  l_df                69203 non-null  float64
 38  l_svpt              69203 non-null  float64
 39  l_1stIn             69203 non-null  float64
 40  l_1stWon            69203 non-null  float64
 41  l_2ndWon            69203 non-null  float64
 42  l_SvGms             69204 non-null  float64
 43  l_bpSaved           69203 non-null  float64
 44  l_bpFaced           69203 non-null  float64
 45  winner_rank         75762 non-null  float64
 46  winner_rank_points  75762 non-null  float64
 47  loser_rank          74828 non-null  float64
 48  loser_rank_points   74821 non-null  float64
dtypes: float64(29), int64(6), object(14)
memory usage: 29.2+ MB

In [228]:
atp.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,winner_name,winner_hand,winner_ht,winner_ioc,winner_age,loser_id,loser_seed,loser_entry,loser_name,loser_hand,loser_ht,loser_ioc,loser_age,score,best_of,round,minutes,w_ace,w_df,w_svpt,w_1stIn,w_1stWon,w_2ndWon,w_SvGms,w_bpSaved,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,1997-339,Adelaide,Hard,32,A,19961230,1,102025,NaN,NaN,Mikael Tillstrom,R,185.0,SWE,24.821355,102338,1.0,NaN,Yevgeny Kafelnikov,R,190.0,RUS,22.863792,6-2 6-2,3,R32,49.0,2.0,0.0,51.0,29.0,21.0,13.0,8.0,2.0,2.0,1.0,2.0,47.0,18.0,7.0,18.0,8.0,5.0,9.0,47.0,875.0,3.0,3564.0
1,1997-339,Adelaide,Hard,32,A,19961230,2,101647,NaN,NaN,Byron Black,R,175.0,ZIM,27.233402,102202,NaN,NaN,Kenneth Carlsen,L,190.0,DEN,23.704312,6-4 6-3,3,R32,63.0,3.0,2.0,63.0,46.0,34.0,10.0,10.0,1.0,1.0,10.0,3.0,46.0,25.0,21.0,9.0,9.0,1.0,3.0,44.0,886.0,73.0,636.0
2,1997-339,Adelaide,Hard,32,A,19961230,3,102158,NaN,NaN,Patrick Rafter,R,185.0,AUS,24.005476,102269,NaN,Q,Jeff Salzenstein,L,185.0,USA,23.211499,6-4 6-3,3,R32,78.0,3.0,1.0,61.0,36.0,27.0,17.0,10.0,1.0,1.0,1.0,2.0,64.0,36.0,25.0,13.0,9.0,5.0,7.0,62.0,741.0,202.0,194.0
3,1997-339,Adelaide,Hard,32,A,19961230,4,101772,NaN,WC,Andrei Cherkasov,R,180.0,RUS,26.491444,101746,7.0,NaN,Renzo Furlan,R,175.0,ITA,26.622861,4-6 6-4 6-4,3,R32,141.0,1.0,1.0,104.0,67.0,49.0,15.0,15.0,7.0,10.0,3.0,3.0,97.0,51.0,40.0,17.0,15.0,6.0,10.0,133.0,339.0,40.0,993.0
4,1997-339,Adelaide,Hard,32,A,19961230,5,101889,4.0,NaN,Todd Woodbridge,R,178.0,AUS,25.746749,101888,NaN,NaN,Daniel Vacek,R,190.0,CZE,25.749487,4-6 6-3 6-3,3,R32,107.0,1.0,6.0,90.0,53.0,40.0,20.0,14.0,4.0,5.0,7.0,4.0,85.0,41.0,31.0,22.0,14.0,2.0,5.0,36.0,1039.0,71.0,661.0

In [325]:
# data cleaning

# remove matches that were not played to completion (and matches with scoring errors)
atp = atp[~atp.score.str.contains('|'.join("RET"))]
atp = atp[~atp.score.str.contains('|'.join("Default"))]
atp = atp[~atp.score.str.contains('|'.join("Apr"))]
atp = atp[~atp.score.str.contains('|'.join("W/O"))]
atp = atp[~atp.score.str.contains('|'.join("[10]"))]
atp.drop(atp[atp['score'] == 'W/O'].index, inplace = True)

# remove tiebreak games
atp['score'] = atp['score'].str.replace('\(.\)', '', regex=True)

# separate scores into winner's and loser's games won by set
atp['winner_score'] = atp['score'].apply(lambda x: x.replace('-', ' ').split()[::2])
atp['loser_score'] = atp['score'].apply(lambda x: x.replace('-', ' ').split()[1::2])

# convert to integer type
atp['winner_score'] = atp['winner_score'].apply(lambda x: list(map(int, x)))
atp['loser_score'] = atp['loser_score'].apply(lambda x: list(map(int, x)))

# create total games won column
atp['winner_games_won'] = atp['winner_score'].apply(lambda x: sum(x))
atp['loser_games_won'] = atp['loser_score'].apply(lambda x: sum(x))

# helper function to calculate sets columns
def findSetsWon(player_sets, opposition_sets):
    sets = 0
    for i in range(len(player_sets)):
        if player_sets[i] > opposition_sets[i]:
            sets += 1
    return sets
# create total sets won column
atp['winner_sets_won'] = atp.apply(lambda x: findSetsWon(x.winner_score, x.loser_score), axis=1)
atp['loser_sets_won'] = atp.apply(lambda x: findSetsWon(x.loser_score, x.winner_score), axis=1)

# create total fantasy points scored column and filter outliers
atp['winner_fantasy_pts'] = atp['winner_games_won'] + (3 * atp['winner_sets_won']) + (0.5 * atp['w_ace']) - (0.5 * atp['w_df'])
atp['loser_fantasy_pts'] = atp['loser_games_won'] + (3 * atp['loser_sets_won']) + (0.5 * atp['l_ace']) - (0.5 * atp['l_df'])
atp = atp[atp['winner_fantasy_pts'] < 70]

# return the head of the dataframe
atp.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,winner_name,winner_hand,winner_ht,winner_ioc,winner_age,loser_id,loser_seed,loser_entry,loser_name,loser_hand,loser_ht,loser_ioc,loser_age,score,best_of,round,minutes,w_ace,w_df,w_svpt,w_1stIn,w_1stWon,w_2ndWon,w_SvGms,w_bpSaved,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,winner_score,loser_score,winner_games_won,loser_games_won,winner_sets_won,loser_sets_won,winner_fantasy_pts,loser_fantasy_pts
0,1997-339,Adelaide,Hard,32,A,19961230,1,102025,NaN,NaN,Mikael Tillstrom,R,185.0,SWE,24.821355,102338,1.0,NaN,Yevgeny Kafelnikov,R,190.0,RUS,22.863792,6-2 6-2,3,R32,49.0,2.0,0.0,51.0,29.0,21.0,13.0,8.0,2.0,2.0,1.0,2.0,47.0,18.0,7.0,18.0,8.0,5.0,9.0,47.0,875.0,3.0,3564.0,"[6, 6]","[2, 2]",12,4,2,0,19.0,3.5
1,1997-339,Adelaide,Hard,32,A,19961230,2,101647,NaN,NaN,Byron Black,R,175.0,ZIM,27.233402,102202,NaN,NaN,Kenneth Carlsen,L,190.0,DEN,23.704312,6-4 6-3,3,R32,63.0,3.0,2.0,63.0,46.0,34.0,10.0,10.0,1.0,1.0,10.0,3.0,46.0,25.0,21.0,9.0,9.0,1.0,3.0,44.0,886.0,73.0,636.0,"[6, 6]","[4, 3]",12,7,2,0,18.5,10.5
2,1997-339,Adelaide,Hard,32,A,19961230,3,102158,NaN,NaN,Patrick Rafter,R,185.0,AUS,24.005476,102269,NaN,Q,Jeff Salzenstein,L,185.0,USA,23.211499,6-4 6-3,3,R32,78.0,3.0,1.0,61.0,36.0,27.0,17.0,10.0,1.0,1.0,1.0,2.0,64.0,36.0,25.0,13.0,9.0,5.0,7.0,62.0,741.0,202.0,194.0,"[6, 6]","[4, 3]",12,7,2,0,19.0,6.5
3,1997-339,Adelaide,Hard,32,A,19961230,4,101772,NaN,WC,Andrei Cherkasov,R,180.0,RUS,26.491444,101746,7.0,NaN,Renzo Furlan,R,175.0,ITA,26.622861,4-6 6-4 6-4,3,R32,141.0,1.0,1.0,104.0,67.0,49.0,15.0,15.0,7.0,10.0,3.0,3.0,97.0,51.0,40.0,17.0,15.0,6.0,10.0,133.0,339.0,40.0,993.0,"[4, 6, 6]","[6, 4, 4]",16,14,2,1,22.0,17.0
4,1997-339,Adelaide,Hard,32,A,19961230,5,101889,4.0,NaN,Todd Woodbridge,R,178.0,AUS,25.746749,101888,NaN,NaN,Daniel Vacek,R,190.0,CZE,25.749487,4-6 6-3 6-3,3,R32,107.0,1.0,6.0,90.0,53.0,40.0,20.0,14.0,4.0,5.0,7.0,4.0,85.0,41.0,31.0,22.0,14.0,2.0,5.0,36.0,1039.0,71.0,661.0,"[4, 6, 6]","[6, 3, 3]",16,12,2,1,19.5,16.5

In [326]:
# changing dataframe format from winner-loser to player-opponent

# create dataframe with winners as players, losers as opponents
winners_df = atp[[
    'tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level', 'tourney_date', 'match_num', 'best_of', 'round', 'minutes', # tourney info
    'score', 'winner_score', 'loser_score', 'winner_games_won', 'loser_games_won', 'winner_sets_won', 'loser_sets_won', 'winner_fantasy_pts', 'loser_fantasy_pts', # score data
    'winner_id', 'winner_seed', 'winner_entry', 'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age', 'winner_rank', 'winner_rank_points', # player metadata
    'loser_id', 'loser_seed', 'loser_entry', 'loser_name', 'loser_hand', 'loser_ht', 'loser_ioc', 'loser_age', 'loser_rank', 'loser_rank_points', # opponent metadata
    'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon', 'w_SvGms', 'w_bpSaved', 'w_bpFaced', # player stats
    'l_ace', 'l_df', 'l_svpt', 'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced', # opponent stats
]]
winners_df = winners_df.rename(columns={
    'winner_score': 'player_score', 'loser_score': 'opp_score', 'winner_games_won': 'games_won', 'loser_games_won': 'opp_games_won', 'winner_sets_won': 'sets_won', 'loser_sets_won': 'opp_sets_won', 'winner_fantasy_pts': 'fantasy_pts', 'loser_fantasy_pts': 'opp_fantasy_pts', # score data
    'winner_id': 'id', 'winner_seed': 'seed', 'winner_entry': 'entry', 'winner_name': 'name', 'winner_hand': 'hand', 'winner_ht': 'ht', 'winner_ioc': 'ioc', 'winner_age': 'age', 'winner_rank': 'rank', 'winner_rank_points': 'rank_points', # player metadata
    'loser_id': 'opp_id', 'loser_seed': 'opp_seed', 'loser_entry': 'opp_entry', 'loser_name': 'opp_name', 'loser_hand': 'opp_hand', 'loser_ht': 'opp_ht', 'loser_ioc': 'opp_ioc', 'loser_age': 'opp_age', 'loser_rank': 'opp_rank', 'loser_rank_points': 'opp_rank_points', # opponent metadata
    'w_ace': 'ace', 'w_df': 'df', 'w_svpt': 'svpt', 'w_1stIn': 'FirstIn', 'w_1stWon': 'FirstWon', 'w_2ndWon': 'SecondWon', 'w_SvGms': 'SvGms', 'w_bpSaved': 'bpSaved', 'w_bpFaced' : 'bpFaced', # player stats
    'l_ace': 'opp_ace', 'l_df': 'opp_df', 'l_svpt': 'opp_svpt', 'l_1stIn': 'opp_FirstIn', 'l_1stWon': 'opp_FirstWon', 'l_2ndWon': 'opp_SecondWon', 'l_SvGms': 'opp_SvGms', 'l_bpSaved': 'opp_bpSaved', 'l_bpFaced': 'opp_bpFaced' # opponent stats 
})

# create dataframe with losers as players, winners as opponents
losers_df = atp[[
    'tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level', 'tourney_date', 'match_num', 'best_of', 'round', 'minutes', # tourney info
    'score', 'loser_score', 'winner_score', 'loser_games_won', 'winner_games_won', 'loser_sets_won', 'winner_sets_won', 'loser_fantasy_pts', 'winner_fantasy_pts', # score data
    'loser_id', 'loser_seed', 'loser_entry', 'loser_name', 'loser_hand', 'loser_ht', 'loser_ioc', 'loser_age', 'loser_rank', 'loser_rank_points', # player metadata
    'winner_id', 'winner_seed', 'winner_entry', 'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age', 'winner_rank', 'winner_rank_points', # opponent metadata
    'l_ace', 'l_df', 'l_svpt', 'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced', # player stats
    'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon', 'w_SvGms', 'w_bpSaved', 'w_bpFaced', # opponent stats
]]
losers_df = losers_df.rename(columns={
    'loser_score': 'player_score', 'winner_score': 'opp_score', 'loser_games_won': 'games_won', 'winner_games_won': 'opp_games_won', 'loser_sets_won': 'sets_won', 'winner_sets_won': 'opp_sets_won', 'loser_fantasy_pts': 'fantasy_pts', 'winner_fantasy_pts': 'opp_fantasy_pts', # score data
    'loser_id': 'id', 'loser_seed': 'seed', 'loser_entry': 'entry', 'loser_name': 'name', 'loser_hand': 'hand', 'loser_ht': 'ht', 'loser_ioc': 'ioc', 'loser_age': 'age', 'loser_rank': 'rank', 'loser_rank_points': 'rank_points', # player metadata
    'winner_id': 'opp_id', 'winner_seed': 'opp_seed', 'winner_entry': 'opp_entry', 'winner_name': 'opp_name', 'winner_hand': 'opp_hand', 'winner_ht': 'opp_ht', 'winner_ioc': 'opp_ioc', 'winner_age': 'opp_age', 'winner_rank': 'opp_rank', 'winner_rank_points': 'opp_rank_points', # opponent metadata
    'l_ace': 'ace', 'l_df': 'df', 'l_svpt': 'svpt', 'l_1stIn': 'FirstIn', 'l_1stWon': 'FirstWon', 'l_2ndWon': 'SecondWon', 'l_SvGms': 'SvGms', 'l_bpSaved': 'bpSaved', 'l_bpFaced' : 'bpFaced', # player stats
    'w_ace': 'opp_ace', 'w_df': 'opp_df', 'w_svpt': 'opp_svpt', 'w_1stIn': 'opp_FirstIn', 'w_1stWon': 'opp_FirstWon', 'w_2ndWon': 'opp_SecondWon', 'w_SvGms': 'opp_SvGms', 'w_bpSaved': 'opp_bpSaved', 'w_bpFaced': 'opp_bpFaced' # opponent stats 
})

# join the two dataframes together
full_df = pd.concat([winners_df, losers_df])
full_df = full_df.reset_index()
full_df.head()

,index,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,best_of,round,minutes,score,player_score,opp_score,games_won,opp_games_won,sets_won,opp_sets_won,fantasy_pts,opp_fantasy_pts,id,seed,entry,name,hand,ht,ioc,age,rank,rank_points,opp_id,opp_seed,opp_entry,opp_name,opp_hand,opp_ht,opp_ioc,opp_age,opp_rank,opp_rank_points,ace,df,svpt,FirstIn,FirstWon,SecondWon,SvGms,bpSaved,bpFaced,opp_ace,opp_df,opp_svpt,opp_FirstIn,opp_FirstWon,opp_SecondWon,opp_SvGms,opp_bpSaved,opp_bpFaced
0,0,1997-339,Adelaide,Hard,32,A,19961230,1,3,R32,49.0,6-2 6-2,"[6, 6]","[2, 2]",12,4,2,0,19.0,3.5,102025,NaN,NaN,Mikael Tillstrom,R,185.0,SWE,24.821355,47.0,875.0,102338,1.0,NaN,Yevgeny Kafelnikov,R,190.0,RUS,22.863792,3.0,3564.0,2.0,0.0,51.0,29.0,21.0,13.0,8.0,2.0,2.0,1.0,2.0,47.0,18.0,7.0,18.0,8.0,5.0,9.0
1,1,1997-339,Adelaide,Hard,32,A,19961230,2,3,R32,63.0,6-4 6-3,"[6, 6]","[4, 3]",12,7,2,0,18.5,10.5,101647,NaN,NaN,Byron Black,R,175.0,ZIM,27.233402,44.0,886.0,102202,NaN,NaN,Kenneth Carlsen,L,190.0,DEN,23.704312,73.0,636.0,3.0,2.0,63.0,46.0,34.0,10.0,10.0,1.0,1.0,10.0,3.0,46.0,25.0,21.0,9.0,9.0,1.0,3.0
2,2,1997-339,Adelaide,Hard,32,A,19961230,3,3,R32,78.0,6-4 6-3,"[6, 6]","[4, 3]",12,7,2,0,19.0,6.5,102158,NaN,NaN,Patrick Rafter,R,185.0,AUS,24.005476,62.0,741.0,102269,NaN,Q,Jeff Salzenstein,L,185.0,USA,23.211499,202.0,194.0,3.0,1.0,61.0,36.0,27.0,17.0,10.0,1.0,1.0,1.0,2.0,64.0,36.0,25.0,13.0,9.0,5.0,7.0
3,3,1997-339,Adelaide,Hard,32,A,19961230,4,3,R32,141.0,4-6 6-4 6-4,"[4, 6, 6]","[6, 4, 4]",16,14,2,1,22.0,17.0,101772,NaN,WC,Andrei Cherkasov,R,180.0,RUS,26.491444,133.0,339.0,101746,7.0,NaN,Renzo Furlan,R,175.0,ITA,26.622861,40.0,993.0,1.0,1.0,104.0,67.0,49.0,15.0,15.0,7.0,10.0,3.0,3.0,97.0,51.0,40.0,17.0,15.0,6.0,10.0
4,4,1997-339,Adelaide,Hard,32,A,19961230,5,3,R32,107.0,4-6 6-3 6-3,"[4, 6, 6]","[6, 3, 3]",16,12,2,1,19.5,16.5,101889,4.0,NaN,Todd Woodbridge,R,178.0,AUS,25.746749,36.0,1039.0,101888,NaN,NaN,Daniel Vacek,R,190.0,CZE,25.749487,71.0,661.0,1.0,6.0,90.0,53.0,40.0,20.0,14.0,4.0,5.0,7.0,4.0,85.0,41.0,31.0,22.0,14.0,2.0,5.0